.navarriba{
    background-color: rgb(75, 75, 75);
    
}

.aaa{
    background-color: blue;
    
}

.cards{
    max-width: 14rem; 
    border-radius: 0%;
    text-align: center;
    border-style: double;
}

.pdoc{
   font-size:x-small ;
   padding-top: 1rem;
}

.pagar{
    border-radius: 0.5rem;
    
    background-color: rgb(204, 229, 255);
}

.botonesverdes{
    color: white;
    background-color: rgb(151, 201, 62);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-color: transparent;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.navfooter{
    background-color: #315a6b;
    padding: 1rem;    
}

.footerlink{
    padding: 0.5rem;
    text-decoration: none;
    color: white;

}

.footerlink:hover{
    text-decoration: none;
    color: black;
    font-style: oblique;
}